{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Portfolio</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">

  <link rel="stylesheet" href="{% static 'assets/fonts/flat-icon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div id="content-wrapper">
  <header class="header header--bg">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'gui' %}">Gui</a></li>
            <li><a href="{% url 'website' %}">Website Development</a></li>
            <li><a href="#">Machine Learning</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="header__content text-center">
        <span class="header__content__block">{% block greeting %}HELLO{% endblock %}</span>
        <h1 class="header__content__title">{% block title %}I'M JAKE WARNER{% endblock %}</h1>
        <ul class="header__content__sub-title">
          <li>PYTHON DEVELOPER <span class="padding">&#45;</span></li>
          <li>WEB DEVELOPER <span class="padding">&#45;</span></li>
          <li>MACHINE LEARNING</li>
        </ul>
        <a class="header__button" href="#">Contact Me</a>
      </div>
      <div class="social-icon pull-right">
        <ul>
          <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
          <li><a href="#"><i class="flaticon-twitter-logo"></i></a></li>
          <li><a href="#"><i class="flaticon-behance-logo"></i></a></li>
          <li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
        </ul>
      </div>
    </div>
  </header>

{% block content %}
{% endblock %}