{% extends 'base.html' %}
{% load static %}

{% block greeting %}{% endblock %}
{% block title %}Graphical User Interface{% endblock %}
{% block content %}
<section class="portfolio">
    <div class="container">
      <div class="page-section">
        <h2 class="page-section__title">Projects</h2>
        <img class="page-section__title-style" src="{% static 'assets/images/title-style.png' %}" alt="">
        <p class="page-section__paragraph">Check out the Graphical User Interface projects I developed using Tkinter and Python</p>
        <div class="portfolio__button-group">
          <a class="button button--default" data-filter="all" href="#">ALL</a>
          <a class="button button--default" data-filter=".category-a" href="#">DEVELOPMENT</a>
          <a class="button button--default" data-filter=".category-b" href="#">DESIGN</a>
          <a class="button button--default" data-filter=".category-c" href="#">HTML</a>
          <a class="button button--default" data-filter=".category-d" href="#">JAVA</a>
        </div>
        <div class="row gutters-40">
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-a category-b category-c" data-order="1">
              <img class="portfolio__single-section__image img-responsive" src="{% static 'assets/images/quotes.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>Favorite Quotes</h4>
                  <p>Tkinter</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="{% url 'projects' 'Favorite Quotes'%}"><img src="{% static 'assets/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-a category-c" data-order="2">
              <img class="portfolio__single-section__image img-responsive" src="{% static 'assets/images/portfolio-2.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>WEBSITE DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static 'assets/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-c" data-order="3">
              <img class="portfolio__single-section__image img-responsive" src="{% static 'assets/images/portfolio-3.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>LOGO DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static 'assets/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row gutters-40">
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-b category-d" data-order="4">
              <img class="portfolio__single-section__image img-responsive" src="{% static 'assets/images/portfolio-4.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>PHOTOGRAPHY</h4>
                  <p>photographer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static 'assets/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-b category-d" data-order="5">
              <img class="portfolio__single-section__image img-responsive" src="{% static 'assets/images/portfolio-5.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>WEBSITE DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static 'assets/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="portfolio__single-section mix category-d" data-order="6">
              <img class="portfolio__single-section__image img-responsive" src="{% static 'assets/images/portfolio-6.png' %}" alt="">
              <div class="portfolio__single-section__overlay">
                <div class="overlay-content">
                  <h4>LOGO DESIGN</h4>
                  <p>Designer</p>
                </div>
                <div class="portfolio__single-section__search-icon">
                  <a href="#"><img src="{% static 'assets/images/search-icon.png' %}" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}